:root {
  --projectPurple: #6070ff;
  --headerColor: #172b4d;
  --worksBold: #344563;
  --worksLight: #7a869a;
  --gridBackground: #e5e5e5;
}

/* GLOBALS */

header {
  width: 100%;
  height: 0px;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

* {
  text-decoration: none;
  margin: 0;
}

/* HEADER SECTION */

nav {
  margin-right: 30px;
}

.logo {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: var(--projectPurple);
  margin-left: 30px;
}

.hamburguer {
  color: var(--projectPurple);
}

.introduction {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-right: 50px;
  margin-top: 20px;
  margin-left: 20px;
}

.name {
  padding-top: 70px;
  color: var(--headerColor);
  font-family: Poppins, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
  margin-left: 20px;
}

.header-banner {
  width: 100%;
  height: calc(100vh - 100px);
  background-image: url("./images/header-section/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.connect-text {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  margin-top: 10px;
  color: var(--projectPurple);
  margin-left: 20px;
}

.header-flex {
  display: flex;
  flex-direction: column;
}

.social-media-icons {
  display: flex;
  column-gap: 15px;
  margin-left: 15px;
  margin-top: 5px;
  align-items: center;
}

.social-media-icons img {
  align-self: center;
}

.linkedin-logo {
  height: 30px;
  width: auto;
}

ul {
  list-style: none;
  padding: 0;
}


/* WORKS SECTION */

.works {
  display: grid;
  justify-content: center;
  row-gap: 20px;
  margin-top: 30px;
  background-color: var(--gridBackground);
}

.project {
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 327px;
  height: 552px;
}

.project-title {
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
}

.project-data {
  display: flex;
  justify-content: flex-start;
  column-gap: 10px;
}

.bold {
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.project-data p {
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--worksLight);
}

.project img {
  height: 220px;
  width: 295px;
}