:root {
  --projectPurple: #6070ff;
  --headerColor: #172b4d;
  --worksBold: #344563;
  --worksLight: #7a869a;
  --gridBackground: #f7f7f9;
  --liButtonBackground: #ebebff;
  --projectButtonColor: #396df2;
  --languageBoxColor: #f7f7f9;
  --pressedButtonColor: #2230d2;
}

/* GLOBALS */
html {
  scroll-behavior: smooth;
}

.text-white {
  color: var(--gridBackground) !important;
}

.header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0 14px 45px -4px rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: 0 14px 45px -4px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0 14px 45px -4px rgba(0, 0, 0, 0.17);
}

* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  font-family: Poppins, sans-serif;
}

*:hover,
*:visited {
  text-decoration: none !important;
}

body {
  background-color: var(--gridBackground) !important;
  padding: 0 !important;
}

p {
  color: var(--worksBold);
}

/* HEADER SECTION */

nav {
  margin-right: 32px;
  display: flex !important;
  isolation: isolate;
}

.menu-options {
  margin: 0 !important;
  display: none;
}

.fixed {
  position: fixed;
  display: block !important;
  right: 28px;
  top: 10px;
}

.open {
  display: block;
  padding-left: 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 0%;
  overflow: hidden;
  background-color: #396df2;
  opacity: 0.9;
}

.blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.openMenu {
  z-index: 1000;
}

.open li:first-child {
  margin-top: 100px;
}

.open li a {
  display: inline-block;
  font-size: 32px;
  color: white;
  font-weight: 500;
  padding-block: 35px;
}

.logo {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: var(--projectPurple);
  margin-left: 30px;
  min-width: 76px;
}

.logo:hover {
  text-decoration: none !important;
  color: var(--projectPurple);
}

.hamburger {
  color: var(--projectPurple);
}

.introduction {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-right: 50px;
  margin-top: 20px;
  margin-left: 20px;
  min-width: 270px;
}

.name {
  max-width: 250px;
  animation-duration: 1s;
  animation-name: grow;
}

.name,
.about {
  padding-top: 70px;
  color: var(--headerColor);
  font-family: Poppins, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
  margin-left: 20px;
  min-width: 330px;
}

.first-section {
  background-color: white;
  border-bottom-left-radius: 60px;
}

.header-banner {
  width: 100%;
  height: calc(100vh - 50px);
  background-image: url("./images/header-section/header-mobile.svg");
  background-repeat: no-repeat;
  border-bottom-left-radius: 60px;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@keyframes grow {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.connect-text {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  margin-top: 10px;
  color: var(--projectPurple);
  margin-left: 20px;
}

.header-flex {
  display: flex;
  flex-direction: column;
}

.social-media-icons > * {
  transform: scale(0.75);
}

.social-media-icons {
  display: flex;
  column-gap: 15px;
  margin-left: 15px;
  margin-top: 5px;
  align-items: center;
  min-width: 250px;
}

.social-media-icons img {
  align-self: center;
  height: 27px;
  width: auto;
  transition: 1s;
}

.header-banner .social-media-icons {
  margin-top: 10px;
  margin-bottom: 0;
  margin-bottom: 25%;
}

.linkedin-logo {
  color: #505f79;
  width: auto;
  transition: 1s;
}

ul {
  list-style: none;
  padding: 0;
}

/* WORKS SECTION */

#works {
  display: grid;
  justify-content: center;
  align-content: center;
  row-gap: 70px;
  background-color: var(--gridBackground);
  grid-template-columns: auto;
  padding-top: 70px;
  padding-bottom: 70px;
}

.project {
  border: 1px solid white;
  display: flex;
  align-items: center;
  margin-left: 7%;
  width: 80%;
  background-color: white;
  padding: 10px;
  padding-top: 10px;
  flex-direction: column;
  border-radius: 16px;
  padding-bottom: 30px;
  transition: 1s ease;
  transition-delay: 0.5s;
  box-shadow: 1px 1px 55px -23px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 1px 55px -23px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 55px -23px rgba(0, 0, 0, 0.75);
}

.text-content {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.project-title {
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  text-align: left;
}

.project-data {
  display: flex;
  justify-content: flex-start;
  column-gap: 10px;
}

.project-data .bold {
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  color: var(--worksBold);
}

.project-data p {
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: var(--worksLight);
  margin-top: 15px;
}

.project img {
  height: auto;
  width: 100%;
  min-width: 300px;
}

.project:hover {
  border: 1px solid var(--projectPurple);
}

.buttons-flex {
  display: flex;
  column-gap: 10px;
  margin-left: 0 !important;
  flex-wrap: wrap;
}

.li-button {
  background-color: var(--liButtonBackground);
  color: var(--projectPurple);
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 20px;
}

.project-description {
  margin-top: 20px;
}

/* BUTTONS */
.project-button,
.resume-button,
.contact-button {
  display: inline-block;
  width: 100px;
  height: 40px;
  margin-top: 40px;
  border-radius: 8px;
  color: var(--projectButtonColor);
  background-color: white;
  border: 0.5px solid var(--projectButtonColor);
  transition: 0.6s;
}

.resume-button {
  width: 120px;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.resume-button:disabled,
.project-button:disabled,
.contact-button:disabled {
  background-color: white;
  color: #5e6c84;
}

.resume-button:hover,
.project-button:hover,
.contact-button:hover {
  color: white;
  background-color: var(--projectPurple);
}

.resume-button:focus,
.project-button:focus,
.contact-button:focus {
  background-color: var(--pressedButtonColor);
  color: white;
  font-weight: 700;
}

/* ABOUT MYSELF SECTION */

.about {
  min-width: 10px;
  max-width: 250px;
}

#about {
  background-color: white;
  padding-bottom: 60px;
  border-top-left-radius: 60px;
}

.languages {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.languages-section p {
  font-size: 30px;
}

.arrow {
  width: 15px;
  height: 15px;
}

.languages-section {
  margin: 10% 10% 10px 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 200px;
}

.frameworks,
.skills {
  border-bottom: 0.2px solid #dfe1e6;
  padding-bottom: 20px;
}

.languages-boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 250px;
}

.language-box {
  display: flex;
  background-color: var(--languageBoxColor);
  margin: 10px 10%;
  align-items: center;
  border-radius: 10px;
}

.language-box p {
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  margin-left: 10px;
}

/* FORM */

.contact-background {
  background-color: var(--projectPurple);
  background-size: cover;
  border-top-left-radius: 60px;
  padding-top: 20px;
}

#contact {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  background-image: url("./images/contact-shapes/contact-form-shapes-mobile.svg");
  padding-top: 100px;
  background-position: right;
  background-repeat: no-repeat;
}

.contact-header,
.contact-desc {
  text-align: center;
  color: white;
  margin: 0 30px;
}

.contact-desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  height: 130px;
  margin-top: 20px;
  min-width: 300px;
  max-width: 550px;
}

.contact-header {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  height: 60px;
  min-width: 250px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  margin-top: 50px;
}

.form-container textarea,
.form-container input {
  width: 80%;
  margin: 2% 10%;
  border-radius: 7px;
  border: none;
}

.form-container textarea {
  height: 180px;
}

.text-input,
.email-input {
  padding: 10px 0;
}

.form-container button {
  align-self: flex-start;
  margin-left: 10%;
  margin-top: 10px;
}

input::placeholder,
textarea::placeholder {
  padding: 15px 20px;
}

.social-media-icons img:hover,
.social-media-icons i:hover {
  transform: scale(2);
}

/* DESKTOP VERSION */

@media screen and (min-width: 768px) {
  /* HEADER */

  .header {
    padding-top: 10px;
    position: fixed !important;
  }

  .hamburger {
    display: none !important;
  }

  nav {
    margin: 0;
    min-width: 265px;
  }

  .desktop-menu {
    display: inline;
    text-decoration: none;
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    margin-right: 30px;
  }

  .menu-options {
    min-width: 266px;
    margin: 0 !important;
    display: block;
  }

  li > a:link,
  li > a:visited,
  li > a:hover {
    color: var(--worksBold) !important;
    text-decoration: none !important;
  }

  .header > * {
    margin: 0 15%;
  }

  .logo {
    font-size: 24px;
    min-width: 100.6px;
    animation-duration: 3s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  span {
    transition: 1s;
  }

  span:hover {
    font-size: larger;
    color: var(--projectPurple);
  }

  .first-section {
    width: 100%;
    margin-right: 0;
    border-bottom-left-radius: 100px;
  }

  .header-banner {
    background-image: url("./images/header-section/Header-deskbg.svg");
    background-size: contain;
    width: 100%;
    background-position: center;
    height: 100vh;
    justify-content: center;
    align-items: baseline;
  }

  .header-banner .social-media-icons {
    margin-bottom: 0;
  }

  .header-banner > * {
    margin: 0 30% 0 27%;
  }

  .name,
  .about {
    font-size: 48px;
    line-height: 60px;
    max-width: 400px;
  }

  .introduction,
  .connect-text {
    font-size: 20px;
    line-height: 28px;
    margin-top: 30px;
  }

  a img {
    height: 25px;
    width: auto;
  }

  .linkedin-logo {
    height: 30px;
    color: #505f79;
    width: auto;
  }

  /* WORKS */
  .project {
    flex-direction: row;
    flex: 1 1 auto;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .project img {
    min-width: 400px;
    max-width: 544px;
    width: 50%;
    margin: 10px;
  }

  .right-side {
    order: 1;
    margin-left: 20px;
  }

  .text-content {
    justify-content: flex-start;
    margin-left: 27px;
    margin-top: 0;
    margin-bottom: 100px;
    width: 50%;
  }

  .project-button {
    width: 120px;
    font-size: 17px;
  }

  .project:hover .project-button {
    color: white;
    background-color: var(--projectPurple);
  }

  /* ABOUT MYSELF */
  #about {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top-left-radius: 0;
    border-top-right-radius: 100px;
    padding-bottom: 300px;
    padding-top: 200px;
  }

  .languages-section {
    margin-top: 50px;
  }

  .languages-boxes {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-right: 100px;
    flex: 0 0 33%;
    margin-top: 20px;
    margin-left: 9%;
  }

  #about .social-media-icons {
    column-gap: 25px;
    margin: 23px 30px;
  }

  .language-box {
    flex-direction: column;
    flex-basis: 100%;
    align-items: flex-start;
    justify-content: space-around;
    margin: 0;
    max-width: 120px;
    height: 122px;
    margin-right: 2%;
  }

  .language-box img {
    margin-left: 15px;
  }

  .language-box > p {
    margin-left: 15px;
  }

  .about-first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
    flex-basis: 33%;
  }

  .about-second {
    margin-right: 10%;
    flex-basis: 50%;
  }

  .about-first .introduction {
    margin-right: 35px;
  }

  .resume-button {
    width: 150px;
    font-size: 17px;
  }

  .skills {
    margin-top: 10px;
  }

  .frameworks {
    margin-top: 50px;
  }

  /* FORM */
  #contact {
    background-image: url("./images/contact-shapes/contact-form-desk@2x.svg");
    background-size: contain;
    width: 100%;
    height: calc(100vh - 175px);
    background-position: center;
    justify-content: center;
  }

  .contact-background {
    height: calc(100vh - 50px);
    padding-bottom: 100px;
    border-top-left-radius: 100px;
  }

  .contact-desc {
    height: 100px;
  }

  .form-container {
    width: 550px;
    margin-top: 10px;
  }

  .contact-button {
    align-self: center !important;
    margin: 20px 0;
    margin-left: 0 !important;
  }
}

/* Modal styles */
.modal-container {
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba(128, 128, 128, 0.9);
}

.modal-box {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.modal-dialog {
  display: inline-block;
  width: 100%;
  width: calc(min(1000px, 90%));
  background-color: white;
  padding: 16px;
  border-radius: 8px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.modal-container .img-container img {
  display: block;
  width: 70%;
  margin-inline: auto;
}

.description {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
}

.sourc-box {
  padding-block: 16px;
  display: flex;
  width: 230px;
}

.btn-modal {
  font-size: 12px;
  border: 1px solid #2230d2;
  color: #2230d2;
  padding: 12px 3px 12px 3px;
  border-radius: 8px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn-modal:last-child {
  margin-left: 8px;
}

@media screen and (min-width: 40em) {
  .description {
    flex-direction: row;
  }

  .desc {
    flex: 60%;
    padding: 16px 20px 70px;
  }

  .sourc-box {
    width: 350px;
    margin-top: 10px;
  }

  .btn-modal {
    flex: auto;
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
  }

  .modal-container .sourc-box {
    border-top: 0.2px solid rgb(94, 94, 94, 0.2);
    padding-top: 30px;
  }
  
  .modal-container .tech {
    padding-bottom: 10px;
    width: 230px;
  }

  .live,
  .source {
    width: 60px;
    justify-content: center;
    gap: 20px;
  }
}
