:root {
  --projectPurple: #6070ff;
  --headerColor: #172b4d;
  --worksBold: #344563;
  --worksLight: #7a869a;
  --gridBackground: #f7f7f9;
  --liButtonBackground: #ebebff;
  --projectButtonColor: #396df2;
  --languageBoxColor: #f7f7f9;
  --pressedButtonColor: #2230d2;
}

/* GLOBALS */

.header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

* {
  text-decoration: none;
  margin: 0px;
  font-family: Poppins, sans-serif;
}

body {
  background-color: var(--gridBackground);
}

/* HEADER SECTION */

nav {
  margin-right: 30px;
}

.logo {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: var(--projectPurple);
  margin-left: 30px;
  width: 1fr;
}

.hamburguer {
  color: var(--projectPurple);
  width: 1fr;
}

.introduction {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-right: 50px;
  margin-top: 20px;
  margin-left: 20px;
  min-width: 270px;
}

.name {
  max-width: 250px;
}

.name,
.about {
  padding-top: 70px;
  color: var(--headerColor);
  font-family: Poppins, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
  margin-left: 20px;
  min-width: 330px;
}

.first-section {
  background-color: white;
  border-bottom-left-radius: 60px;
}

.header-banner {
  width: 100%;
  height: calc(100vh - 100px);
  background-image: url("./images/header-section/header-mobile.svg");
  background-repeat: no-repeat;
  border-bottom-left-radius: 60px;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.connect-text {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  margin-top: 10px;
  color: var(--projectPurple);
  margin-left: 20px;
}

.header-flex {
  display: flex;
  flex-direction: column;
}

.social-media-icons {
  display: flex;
  column-gap: 15px;
  margin-left: 15px;
  margin-top: 5px;
  align-items: center;
  min-width: 250px;
}

.social-media-icons img {
  align-self: center;
}

.linkedin-logo {
  height: 30px;
  width: auto;
}

ul {
  list-style: none;
  padding: 0;
}

/* WORKS SECTION */

.works {
  display: grid;
  justify-content: center;
  align-content: center;
  row-gap: 70px;
  background-color: var(--gridBackground);
  grid-template-columns: auto;
  padding-top: 70px;
  padding-bottom: 70px;
}

.project {
  display: flex;
  align-items: center;
  margin-left: 7%;
  width: 80%;
  background-color: white;
  padding: 10px;
  padding-top: 10px;
  flex-direction: column;
  border-radius: 16px;
  padding-bottom: 30px;
}

.text-content {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.project-title {
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  text-align: left;
}

.project-data {
  display: flex;
  justify-content: flex-start;
  column-gap: 10px;
}

.project-data .bold {
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  color: var(--worksBold);
}

.project-data p {
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: var(--worksLight);
  margin-top: 15px;
}

.project img {
  height: auto;
  width: 100%;
  min-width: 300px;
}

.buttons-flex {
  display: flex;
  column-gap: 10px;
}

.li-button {
  background-color: var(--liButtonBackground);
  color: var(--projectPurple);
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 20px;
}

.project-description {
  margin-top: 20px;
}

/* BUTTONS */
.project-button,
.resume-button,
.contact-button {
  display: inline-block;
  width: 100px;
  height: 40px;
  margin-top: 40px;
  border-radius: 8px;
  color: var(--projectButtonColor);
  background-color: white;
  border: 0.5px solid var(--projectButtonColor);
  transition: 0.6s;
}

.resume-button {
  width: 120px;
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 30px;
}

.resume-button:disabled,
.project-button:disabled,
.contact-button:disabled {
  background-color: white;
  color: #5e6c84;
}

.resume-button:hover,
.project-button:hover,
.contact-button:hover {
  color: white;
  background-color: var(--projectPurple);
}

.resume-button:focus,
.project-button:focus,
.contact-button:focus {
  background-color: var(--pressedButtonColor);
  color: white;
  font-weight: 700;
}

/* ABOUT MYSELF SECTION */

.about {
  min-width: 10px;
  max-width: 250px;
}

.about-myself {
  background-color: white;
  padding-bottom: 60px;
  border-top-left-radius: 60px;
}

.languages {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.languages-section p {
  font-size: 30px;
}

.arrow {
  width: 25px;
  height: 25px;
}

.languages-section {
  margin: 10% 10% 10px 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 200px;
}

.frameworks,
.skills {
  border-bottom: 0.2px solid #dfe1e6;
  padding-bottom: 20px;
}

.languages-boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
  min-width: 250px;
}

.language-box {
  display: flex;
  background-color: var(--languageBoxColor);
  margin: 10px 10%;
  align-items: center;
  border-radius: 10px;
}

.language-box p {
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  margin-left: 10px;
}

/* FORM */

.contact-background {
  background-color: var(--projectPurple);
  background-size: cover;
  border-top-left-radius: 60px;
  padding-top: 20px;
}

.contact {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  background-image: url('./images/contact-shapes/contact-form-shapes-mobile.svg');
  padding-top: 100px;
  background-position: right;
  background-repeat: no-repeat;
}

.contact-header,
.contact-desc {
  text-align: center;
  color: white;
  margin: 0 30px;
}

.contact-desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  height: 130px;
  margin-top: 20px;
  min-width: 300px;
  max-width: 550px;
}

.contact-header {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  height: 60px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  margin-top: 50px;
}

.form-container textarea,
.form-container input {
  width: 80%;
  margin: 2% 10%;
  border-radius: 7px;
  border: none;
}

.form-container textarea {
  height: 180px;
}

.text-input,
.email-input {
  padding: 10px 0;
}

.form-container button {
  align-self: flex-start;
  margin-left: 10%;
  margin-top: 10px;
}

input::placeholder,
textarea::placeholder {
  padding: 15px 20px;
}

/* DESKTOP VERSION */

@media screen and (min-width: 768px) {

  /* HEADER */

  .header {
    padding-top: 10px;
  }

  .header > * {
    margin: 0 15%;
  }

  .logo {
    font-size: 24px;
  }
  .first-section {
    width: 100%;
    margin-right: 0px;
  }
  .header-banner {
    background-image: url("./images/header-section/Header-deskbg.svg");
    background-size: contain;
    width: 100%;
    background-position: center;
    padding-bottom: 70px;
    justify-content: center;
    align-items: baseline;
  }

  .header-banner > *{
    margin: 0 30% 0 27%;
  }

  .name,
  .about {
    font-size: 48px;
    line-height: 60px;
    max-width: 400px;
  }

  .introduction,
  .connect-text {
    font-size: 20px;
    line-height: 28px;
    margin-top: 30px;
  }

  a img {
    height: 30px;
    width: auto;
  }

  .linkedin-logo {
    height: 45px;
    width: auto;
  }

  /* WORKS */
  .project {
    flex-direction: row;
    flex: 1 1 auto;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .project img {
    min-width: 400px;
    max-width: 544px;
    width: 50%;
    margin: 10px;
  }

  .right-side {
    order: 1;
    margin-left: 20px;
  }

  .text-content {
    justify-content: flex-start;
    margin-left: 27px;
    margin-top: 0;
    margin-bottom: 100px;
    width: 50%;
  }

  /*ABOUT MYSELF*/
  .about-myself {
    display: flex;
    flex-direction: row;
    border-top-left-radius: 0px;
    border-top-right-radius: 60px;
  }

  .about-myself > * {
    flex-basis: 100%;
  }

  .languages-boxes {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-right: 100px;
    flex: 0 0 33%;
    margin-top: 20px;
    margin-left: 10%;
  }

  .language-box {
    flex-direction: column;
    flex-basis: 100%;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    max-width: 120px;
    height: 122px;
    margin-right: 2%;
  }

  .language-box > p {
    margin-left: 0px;
  }

  .about-first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
  }

  /* FORM */
  .contact {
    background-image: url("./images/contact-shapes/contact-form-desk@2x.svg");
    background-size: contain;
    width: 100%;
    height: 80vh;
    background-position: center;
    justify-content: center;
  }

  .contact-background {
    height: 100vh;
  }

  .contact-desc {
    height: 100px;
  }

  .form-container {
    width: 550px;
    margin-top: 10px;
  }
  
  .form-container button {
    align-self: center;
    margin: 20px 0;
  }
}
